* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Hanken Grotesk", sans-serif;
    background-color: hsl(221, 100%, 96%);
    min-height: 100vh;
    display: flex;
}

.result-summary {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 375px;
    background-color: white;

}

.result-box {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 0 0 32px 32px;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.title {
    color: hsl(241, 100%, 89%);
    font-size: large;
}

.score-display {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-main {
    font-size: 56px;
    font-weight: 700;
    color: white;
    line-height: 1;
}

.score-total {
    color: hsl(241, 100%, 89%);
    font-size: 16px;
    opacity: 0.7;
}

.result-grade {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.result-desc {
    color: hsl(241, 100%, 89%);
    font-size: 16px;
    max-width: 260px;
    line-height: 1.4;
}

.summary-box {
    padding: 40px;
    flex: 1;
}

.summary-title {
    font-size: large;
    margin-bottom: 24px;
    color: hsl(224, 30%, 27%);
}

.summary-list {
    list-style-type: none;
    align-items: center;
    border-radius: 12px;
    gap: 16px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 16px;
}

.item-left-side {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 12px;
}

.reaction {
    background-color: hsl(0, 100%, 67%, 0.05);
    color: hsl(0, 100%, 67%);
}

.memory {
    background-color: hsl(39, 100%, 56%, 0.05);
    color: hsl(39, 100%, 56%);
}

.verbal {
    background-color: hsl(166, 100%, 37%, 0.05);
    color: hsl(166, 100%, 37%);
}

.visual {
    background-color: hsl(234, 85%, 45%, 0.05);
    color: hsl(234, 85%, 45%);
}

.score {
    color: hsl(224, 30%, 27%);
}

.score-total-text {
    font-weight: 500;
    color: hsl(224, 30%, 27%, 0.5);
}

.continue {
    width: 100%;
    margin-top: 8px;
    padding: 16px;
    border-radius: 30px;
    border: none;
    background-color: hsl(224, 30%, 27%);
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s ease;
}

.continue:hover {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.continue:focus {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));

}


@media (min-width: 700px) {
    body {
        align-items: center;
        justify-content: center;
    }

    .result-summary {
        flex-direction: row;
        max-width: 736px;
        border-radius: 32px;
        box-shadow: 10px 20px 40px rgba(120, 88, 255, 0.1);
        overflow: hidden;
    }

    .result-box {
        border-radius: 32px;
        flex: 1;
    }

    .summary-box {
        box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.05);
    }
}